<a href="https://colab.research.google.com/github/prakharsrivastava/powerbi/blob/main/Data_Science_on_Google_Cloud_Platform_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive

drive.mount('/content/gdrive')
%cd gdrive/MyDrive

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
[Errno 2] No such file or directory: 'gdrive/MyDrive'
/content/gdrive/MyDrive/chapter2

In [ ]:
%%shell
#export YEAR=${YEAR:=2015}
SOURCE=https://transtats.bts.gov/PREZIP

OUTDIR=/content/gdrive/MyDrive/chapter2
mkdir -p $OUTDIR
for YEAR in `seq 2015 2015`; do
for MONTH in `seq 1 12`; do

  FILE=On_Time_Reporting_Carrier_On_Time_Performance_1987_present_${YEAR}_${MONTH}.zip
  curl -k -o ${OUTDIR}/${FILE}  ${SOURCE}/${FILE}

done
done

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 23.2M  100 23.2M    0     0  1428k      0  0:00:16  0:00:16 --:--:-- 1466k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 24.5M  100 24.5M    0     0  1234k      0  0:00:20  0:00:20 --:--:-- 1535k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 24.9M  100 24.9M    0     0  1086k      0  0:00:23  0:00:23 --:--:-- 1466k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 24.5M  100 24.5M    0     0  1348k      0  0:00:18  0:00:18 --:--:-- 1448k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 21.5M  100 21.5M    0     0  1036k      0  0:00:21  0:00:21 --:--:--  809k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 22.7M  100 22.7M    0     0  1446k      0  0:00:16  0:00:16 --:--:-- 1492k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 22.5M  100 22.5M    0     0  1429k      0  0:00:16  0:00:16 --:--:-- 1468k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 23.3M  100 23.3M    0     0  1204k      0  0:00:19  0:00:19 --:--:-- 1455k

In [ ]:
%%shell
for month in `seq  1 12`; do
unzip /content/gdrive/MyDrive/chapter2/On_Time_Reporting_Carrier_On_Time_Performance_1987_present_2015_$month.zip 
mv /content/gdrive/MyDrive/chapter2/*On_Time* /content/gdrive/MyDrive/chapter2/2015_$month.csv
rm  /content/gdrive/MyDrive/chapter2/*On_Time*

done

In [ ]:
%%shell
head /content/gdrive/MyDrive/chapter2/20151.csv

"Year","Quarter","Month","DayofMonth","DayOfWeek","FlightDate","Reporting_Airline","DOT_ID_Reporting_Airline","IATA_CODE_Reporting_Airline","Tail_Number","Flight_Number_Reporting_Airline","OriginAirportID","OriginAirportSeqID","OriginCityMarketID","Origin","OriginCityName","OriginState","OriginStateFips","OriginStateName","OriginWac","DestAirportID","DestAirportSeqID","DestCityMarketID","Dest","DestCityName","DestState","DestStateFips","DestStateName","DestWac","CRSDepTime","DepTime","DepDelay","DepDelayMinutes","DepDel15","DepartureDelayGroups","DepTimeBlk","TaxiOut","WheelsOff","WheelsOn","TaxiIn","CRSArrTime","ArrTime","ArrDelay","ArrDelayMinutes","ArrDel15","ArrivalDelayGroups","ArrTimeBlk","Cancelled","CancellationCode","Diverted","CRSElapsedTime","ActualElapsedTime","AirTime","Flights","Distance","DistanceGroup","CarrierDelay","WeatherDelay","NASDelay","SecurityDelay","LateAircraftDelay","FirstDepTime","TotalAddGTime","LongestAddGTime","DivAirportLandings","DivReachedDest","DivActualElapsedTime","DivArrDelay","DivDistance","Div1Airport","Div1AirportID","Div1AirportSeqID","Div1WheelsOn","Div1TotalGTime","Div1LongestGTime","Div1WheelsOff","Div1TailNum","Div2Airport","Div2AirportID","Div2AirportSeqID","Div2WheelsOn","Div2TotalGTime","Div2LongestGTime","Div2WheelsOff","Div2TailNum","Div3Airport","Div3AirportID","Div3AirportSeqID","Div3WheelsOn","Div3TotalGTime","Div3LongestGTime","Div3WheelsOff","Div3TailNum","Div4Airport","Div4AirportID","Div4AirportSeqID","Div4WheelsOn","Div4TotalGTime","Div4LongestGTime","Div4WheelsOff","Div4TailNum","Div5Airport","Div5AirportID","Div5AirportSeqID","Div5WheelsOn","Div5TotalGTime","Div5LongestGTime","Div5WheelsOff","Div5TailNum",
2015,1,1,1,4,2015-01-01,"AA",19805,"AA","N787AA","1",12478,1247802,31703,"JFK","New York, NY","NY","36","New York",22,12892,1289203,32575,"LAX","Los Angeles, CA","CA","06","California",91,"0900","0855",-5.00,0.00,0.00,-1,"0900-0959",17.00,"0912","1230",7.00,"1230","1237",7.00,7.00,0.00,0,"1200-1259",0.00,"",0.00,390.00,402.00,378.00,1.00,2475.00,10,,,,,,"",,,0,,,,,"",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","",
2015,1,1,2,5,2015-01-02,"AA",19805,"AA","N795AA","1",12478,1247802,31703,"JFK","New York, NY","NY","36","New York",22,12892,1289203,32575,"LAX","Los Angeles, CA","CA","06","California",91,"0900","0850",-10.00,0.00,0.00,-1,"0900-0959",15.00,"0905","1202",9.00,"1230","1211",-19.00,0.00,0.00,-2,"1200-1259",0.00,"",0.00,390.00,381.00,357.00,1.00,2475.00,10,,,,,,"",,,0,,,,,"",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","",
2015,1,1,3,6,2015-01-03,"AA",19805,"AA","N788AA","1",12478,1247802,31703,"JFK","New York, NY","NY","36","New York",22,12892,1289203,32575,"LAX","Los Angeles, CA","CA","06","California",91,"0900","0853",-7.00,0.00,0.00,-1,"0900-0959",15.00,"0908","1138",13.00,"1230","1151",-39.00,0.00,0.00,-2,"1200-1259",0.00,"",0.00,390.00,358.00,330.00,1.00,2475.00,10,,,,,,"",,,0,,,,,"",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","",
2015,1,1,4,7,2015-01-04,"AA",19805,"AA","N791AA","1",12478,1247802,31703,"JFK","New York, NY","NY","36","New York",22,12892,1289203,32575,"LAX","Los Angeles, CA","CA","06","California",91,"0900","0853",-7.00,0.00,0.00,-1,"0900-0959",14.00,"0907","1159",19.00,"1230","1218",-12.00,0.00,0.00,-1,"1200-1259",0.00,"",0.00,390.00,385.00,352.00,1.00,2475.00,10,,,,,,"",,,0,,,,,"",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","",
2015,1,1,5,1,2015-01-05,"AA",19805,"AA","N783AA","1",12478,1247802,31703,"JFK","New York, NY","NY","36","New York",22,12892,1289203,32575,"LAX","Los Angeles, CA","CA","06","California",91,"0900","0853",-7.00,0.00,0.00,-1,"0900-0959",27.00,"0920","1158",24.00,"1230","1222",-8.00,0.00,0.00,-1,"1200-1259",0.00,"",0.00,390.00,389.00,338.00,1.00,2475.00,10,,,,,,"",,,0,,,,,"",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","",
2015,1,1,6,2,2015-01-06,"AA",19805,"AA","N799AA","1",12478,1247802,31703,"JFK","New York, NY","NY","36","New York",22,12892,1289203,32575,"LAX","Los Angeles, CA","CA","06","California",91,"0900","0856",-4.00,0.00,0.00,-1,"0900-0959",85.00,"1021","1256",4.00,"1235","1300",25.00,25.00,1.00,1,"1200-1259",0.00,"",0.00,395.00,424.00,335.00,1.00,2475.00,10,0.00,0.00,25.00,0.00,0.00,"",,,0,,,,,"",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","",
2015,1,1,7,3,2015-01-07,"AA",19805,"AA","N784AA","1",12478,1247802,31703,"JFK","New York, NY","NY","36","New York",22,12892,1289203,32575,"LAX","Los Angeles, CA","CA","06","California",91,"0900","0859",-1.00,0.00,0.00,-1,"0900-0959",29.00,"0928","1209",12.00,"1235","1221",-14.00,0.00,0.00,-1,"1200-1259",0.00,"",0.00,395.00,382.00,341.00,1.00,2475.00,10,,,,,,"",,,0,,,,,"",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","",
2015,1,1,8,4,2015-01-08,"AA",19805,"AA","N787AA","1",12478,1247802,31703,"JFK","New York, NY","NY","36","New York",22,12892,1289203,32575,"LAX","Los Angeles, CA","CA","06","California",91,"0900","0856",-4.00,0.00,0.00,-1,"0900-0959",26.00,"0922","1155",3.00,"1235","1158",-37.00,0.00,0.00,-2,"1200-1259",0.00,"",0.00,395.00,362.00,333.00,1.00,2475.00,10,,,,,,"",,,0,,,,,"",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","",
2015,1,1,9,5,2015-01-09,"AA",19805,"AA","N795AA","1",12478,1247802,31703,"JFK","New York, NY","NY","36","New York",22,12892,1289203,32575,"LAX","Los Angeles, CA","CA","06","California",91,"0900","0901",1.00,1.00,0.00,0,"0900-0959",43.00,"0944","1237",4.00,"1235","1241",6.00,6.00,0.00,0,"1200-1259",0.00,"",0.00,395.00,400.00,353.00,1.00,2475.00,10,,,,,,"",,,0,,,,,"",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","",

In [1]:
from google.colab import drive

drive.mount('/content/gdrive')
%cd /content/gdrive/MyDrive/chapter2/

Mounted at /content/gdrive
/content/gdrive/MyDrive/chapter2

In [2]:
%%shell
head -2 20151.csv | tail -1 | sed 's/,/ /g'

2015 1 1 1 4 2015-01-01 "AA" 19805 "AA" "N787AA" "1" 12478 1247802 31703 "JFK" "New York  NY" "NY" "36" "New York" 22 12892 1289203 32575 "LAX" "Los Angeles  CA" "CA" "06" "California" 91 "0900" "0855" -5.00 0.00 0.00 -1 "0900-0959" 17.00 "0912" "1230" 7.00 "1230" "1237" 7.00 7.00 0.00 0 "1200-1259" 0.00 "" 0.00 390.00 402.00 378.00 1.00 2475.00 10      ""   0     ""   ""   "" "" ""   ""   "" "" ""   ""   "" "" ""   ""   "" "" ""   ""   "" ""

In [ ]:
%%shell
head -2 20151.csv | tail -1 | sed 's/,/ /g'

2015 1 1 1 4 2015-01-01 "AA" 19805 "AA" "N787AA" "1" 12478 1247802 31703 "JFK" "New York  NY" "NY" "36" "New York" 22 12892 1289203 32575 "LAX" "Los Angeles  CA" "CA" "06" "California" 91 "0900" "0855" -5.00 0.00 0.00 -1 "0900-0959" 17.00 "0912" "1230" 7.00 "1230" "1237" 7.00 7.00 0.00 0 "1200-1259" 0.00 "" 0.00 390.00 402.00 378.00 1.00 2475.00 10      ""   0     ""   ""   "" "" ""   ""   "" "" ""   ""   "" "" ""   ""   "" "" ""   ""   "" ""

In [ ]:
%%shell
head  201511.csv

"Year","Quarter","Month","DayofMonth","DayOfWeek","FlightDate","Reporting_Airline","DOT_ID_Reporting_Airline","IATA_CODE_Reporting_Airline","Tail_Number","Flight_Number_Reporting_Airline","OriginAirportID","OriginAirportSeqID","OriginCityMarketID","Origin","OriginCityName","OriginState","OriginStateFips","OriginStateName","OriginWac","DestAirportID","DestAirportSeqID","DestCityMarketID","Dest","DestCityName","DestState","DestStateFips","DestStateName","DestWac","CRSDepTime","DepTime","DepDelay","DepDelayMinutes","DepDel15","DepartureDelayGroups","DepTimeBlk","TaxiOut","WheelsOff","WheelsOn","TaxiIn","CRSArrTime","ArrTime","ArrDelay","ArrDelayMinutes","ArrDel15","ArrivalDelayGroups","ArrTimeBlk","Cancelled","CancellationCode","Diverted","CRSElapsedTime","ActualElapsedTime","AirTime","Flights","Distance","DistanceGroup","CarrierDelay","WeatherDelay","NASDelay","SecurityDelay","LateAircraftDelay","FirstDepTime","TotalAddGTime","LongestAddGTime","DivAirportLandings","DivReachedDest","DivActualElapsedTime","DivArrDelay","DivDistance","Div1Airport","Div1AirportID","Div1AirportSeqID","Div1WheelsOn","Div1TotalGTime","Div1LongestGTime","Div1WheelsOff","Div1TailNum","Div2Airport","Div2AirportID","Div2AirportSeqID","Div2WheelsOn","Div2TotalGTime","Div2LongestGTime","Div2WheelsOff","Div2TailNum","Div3Airport","Div3AirportID","Div3AirportSeqID","Div3WheelsOn","Div3TotalGTime","Div3LongestGTime","Div3WheelsOff","Div3TailNum","Div4Airport","Div4AirportID","Div4AirportSeqID","Div4WheelsOn","Div4TotalGTime","Div4LongestGTime","Div4WheelsOff","Div4TailNum","Div5Airport","Div5AirportID","Div5AirportSeqID","Div5WheelsOn","Div5TotalGTime","Div5LongestGTime","Div5WheelsOff","Div5TailNum",
2015,4,11,4,3,2015-11-04,"AA",19805,"AA","N3CHAA","86",14570,1457002,34570,"RNO","Reno, NV","NV","32","Nevada",85,13930,1393004,30977,"ORD","Chicago, IL","IL","17","Illinois",41,"0800","0751",-9.00,0.00,0.00,-1,"0800-0859",25.00,"0816","1333",16.00,"1352","1349",-3.00,0.00,0.00,-1,"1300-1359",0.00,"",0.00,232.00,238.00,197.00,1.00,1671.00,7,,,,,,"",,,0,,,,,"",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","",
2015,4,11,5,4,2015-11-05,"AA",19805,"AA","N3LTAA","87",13930,1393004,30977,"ORD","Chicago, IL","IL","17","Illinois",41,14057,1405702,34057,"PDX","Portland, OR","OR","41","Oregon",92,"1741","1736",-5.00,0.00,0.00,-1,"1700-1759",20.00,"1756","1949",3.00,"2019","1952",-27.00,0.00,0.00,-2,"2000-2059",0.00,"",0.00,278.00,256.00,233.00,1.00,1739.00,7,,,,,,"",,,0,,,,,"",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","",
2015,4,11,6,5,2015-11-06,"AA",19805,"AA","N3MKAA","87",13930,1393004,30977,"ORD","Chicago, IL","IL","17","Illinois",41,14057,1405702,34057,"PDX","Portland, OR","OR","41","Oregon",92,"1741","1750",9.00,9.00,0.00,0,"1700-1759",12.00,"1802","2004",3.00,"2019","2007",-12.00,0.00,0.00,-1,"2000-2059",0.00,"",0.00,278.00,257.00,242.00,1.00,1739.00,7,,,,,,"",,,0,,,,,"",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","",
2015,4,11,7,6,2015-11-07,"AA",19805,"AA","N3MJAA","87",13930,1393004,30977,"ORD","Chicago, IL","IL","17","Illinois",41,14057,1405702,34057,"PDX","Portland, OR","OR","41","Oregon",92,"1741","1736",-5.00,0.00,0.00,-1,"1700-1759",10.00,"1746","1945",4.00,"2019","1949",-30.00,0.00,0.00,-2,"2000-2059",0.00,"",0.00,278.00,253.00,239.00,1.00,1739.00,7,,,,,,"",,,0,,,,,"",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","",
2015,4,11,8,7,2015-11-08,"AA",19805,"AA","N3MAAA","87",13930,1393004,30977,"ORD","Chicago, IL","IL","17","Illinois",41,14057,1405702,34057,"PDX","Portland, OR","OR","41","Oregon",92,"1741","1740",-1.00,0.00,0.00,-1,"1700-1759",18.00,"1758","1951",5.00,"2019","1956",-23.00,0.00,0.00,-2,"2000-2059",0.00,"",0.00,278.00,256.00,233.00,1.00,1739.00,7,,,,,,"",,,0,,,,,"",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","",
2015,4,11,9,1,2015-11-09,"AA",19805,"AA","N3JVAA","87",13930,1393004,30977,"ORD","Chicago, IL","IL","17","Illinois",41,14057,1405702,34057,"PDX","Portland, OR","OR","41","Oregon",92,"1741","1737",-4.00,0.00,0.00,-1,"1700-1759",22.00,"1759","1953",5.00,"2019","1958",-21.00,0.00,0.00,-2,"2000-2059",0.00,"",0.00,278.00,261.00,234.00,1.00,1739.00,7,,,,,,"",,,0,,,,,"",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","",
2015,4,11,10,2,2015-11-10,"AA",19805,"AA","N3LCAA","87",13930,1393004,30977,"ORD","Chicago, IL","IL","17","Illinois",41,14057,1405702,34057,"PDX","Portland, OR","OR","41","Oregon",92,"1741","1740",-1.00,0.00,0.00,-1,"1700-1759",18.00,"1758","1951",3.00,"2019","1954",-25.00,0.00,0.00,-2,"2000-2059",0.00,"",0.00,278.00,254.00,233.00,1.00,1739.00,7,,,,,,"",,,0,,,,,"",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","",
2015,4,11,11,3,2015-11-11,"AA",19805,"AA","N3LYAA","87",13930,1393004,30977,"ORD","Chicago, IL","IL","17","Illinois",41,14057,1405702,34057,"PDX","Portland, OR","OR","41","Oregon",92,"1741","1752",11.00,11.00,0.00,0,"1700-1759",20.00,"1812","2015",4.00,"2019","2019",0.00,0.00,0.00,0,"2000-2059",0.00,"",0.00,278.00,267.00,243.00,1.00,1739.00,7,,,,,,"",,,0,,,,,"",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","",
2015,4,11,12,4,2015-11-12,"AA",19805,"AA","N3LFAA","87",13930,1393004,30977,"ORD","Chicago, IL","IL","17","Illinois",41,14057,1405702,34057,"PDX","Portland, OR","OR","41","Oregon",92,"1741","1841",60.00,60.00,1.00,4,"1700-1759",15.00,"1856","2110",4.00,"2019","2114",55.00,55.00,1.00,3,"2000-2059",0.00,"",0.00,278.00,273.00,254.00,1.00,1739.00,7,55.00,0.00,0.00,0.00,0.00,"",,,0,,,,,"",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","",

In [ ]:
%%shell
wc -l *csv

    486166 201510.csv
    467973 201511.csv
    479231 201512.csv
    469969 20151.csv
    429192 20152.csv
    504313 20153.csv
    485152 20154.csv
    496994 20155.csv
    503898 20156.csv
    520719 20157.csv
    510537 20158.csv
    464947 20159.csv
   5819091 total

In [ ]:
%%shell
for month in `seq  1 1`; do
sed 's/,$//g' 2015$month.csv | sed 's/"//g' 
done

In [ ]:
!pip install -U pandasql
from pandasql import sqldf
import pandas as pd
from sklearn import datasets

In [4]:

nyc = pd.read_csv('20151.csv',low_memory=False)
q = "SELECT * FROM nyc LIMIT 3"
sqldf(q, globals())

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,Tail_Number,...,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 109
0,2015,1,1,1,4,2015-01-01,AA,19805,AA,N787AA,...,None,None,None,None,None,None,None,None,None,None
1,2015,1,1,2,5,2015-01-02,AA,19805,AA,N795AA,...,None,None,None,None,None,None,None,None,None,None
2,2015,1,1,3,6,2015-01-03,AA,19805,AA,N788AA,...,None,None,None,None,None,None,None,None,None,None

In [ ]:

q = "SELECT count(1) FROM nyc where DepDelay>=15 and ArrDelay>=15"
sqldf(q, globals())

   count(1)
0     73177

In [ ]:

q = "SELECT count(1) FROM nyc where DepDelay>=15 and ArrDelay<15"
sqldf(q, globals())

   count(1)
0     17296

In [ ]:

q = "SELECT count(1) FROM nyc where DepDelay<15 and ArrDelay<15"
sqldf(q, globals())

   count(1)
0    343766

In [ ]:

q = "SELECT count(1) FROM nyc where DepDelay<15 and ArrDelay>=15"
sqldf(q, globals())

   count(1)
0     22774

In [ ]:
q = "SELECT  case  when DepDelay < 15 AND ArrDelay < 15 then count(1) AS true_positives end FROM nyc WHERE ArrDelay IS NOT NULL AND DepDelay IS NOT NULL"
sqldf(q, globals())

In [ ]:
!pip install --upgrade timezonefinder pytz 'apache-beam[gcp]'

In [ ]:
%%shell

SOURCE=https://github.com/GoogleCloudPlatform/data-science-on-gcp/blob/main/04_streaming/transform/airports.csv.gz
OUTDIR=/content/gdrive/MyDrive/chapter2
mkdir -p $OUTDIR


  
  curl -k -o ${OUTDIR}/airports.csv.gz  ${SOURCE}

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  140k    0  140k    0     0   320k      0 --:--:-- --:--:-- --:--:--  319k

In [ ]:
%%shell
gunzip  /content/gdrive/MyDrive/chapter2/airports.csv.gz

In [ ]:
!pip install --upgrade timezonefinder pytz 'apache-beam[gcp]'
import apache_beam as beam
import csv

In [ ]:
import apache_beam as beam

input_files = '/content/gdrive/MyDrive/chapter2/readme.html'
with beam.Pipeline() as pipeline:
  (
      pipeline
      | 'Read files' >> beam.io.ReadFromText(input_files)
      | 'Print contents' >> beam.Map(print)
  )

In [ ]:
%%shell
head /content/gdrive/MyDrive/chapter2/airports.csv

"AIRPORT_SEQ_ID","AIRPORT_ID","AIRPORT","DISPLAY_AIRPORT_NAME","DISPLAY_AIRPORT_CITY_NAME_FULL","AIRPORT_WAC_SEQ_ID2","AIRPORT_WAC","AIRPORT_COUNTRY_NAME","AIRPORT_COUNTRY_CODE_ISO","AIRPORT_STATE_NAME","AIRPORT_STATE_CODE","AIRPORT_STATE_FIPS","CITY_MARKET_SEQ_ID","CITY_MARKET_ID","DISPLAY_CITY_MARKET_NAME_FULL","CITY_MARKET_WAC_SEQ_ID2","CITY_MARKET_WAC","LAT_DEGREES","LAT_HEMISPHERE","LAT_MINUTES","LAT_SECONDS","LATITUDE","LON_DEGREES","LON_HEMISPHERE","LON_MINUTES","LON_SECONDS","LONGITUDE","UTC_LOCAL_TIME_VARIATION","AIRPORT_START_DATE","AIRPORT_THRU_DATE","AIRPORT_IS_CLOSED","AIRPORT_IS_LATEST",
1000101,10001,"01A","Afognak Lake Airport","Afognak Lake, AK",101,1,"United States","US","Alaska","AK","02",3000101,30001,"Afognak Lake, AK",101,1,58,"N",6,34,58.10944444,152,"W",54,24,-152.90666667,"",2007-07-01,,0,1,
1000301,10003,"03A","Bear Creek Mining Strip","Granite Mountain, AK",101,1,"United States","US","Alaska","AK","02",3000301,30003,"Granite Mountain, AK",101,1,65,"N",32,53,65.54805556,161,"W",4,18,-161.07166667,"",2007-07-01,,0,1,
1000401,10004,"04A","Lik Mining Camp","Lik, AK",101,1,"United States","US","Alaska","AK","02",3000401,30004,"Lik, AK",101,1,68,"N",5,0,68.08333333,163,"W",10,0,-163.16666667,"",2007-07-01,,0,1,
1000501,10005,"05A","Little Squaw Airport","Little Squaw, AK",101,1,"United States","US","Alaska","AK","02",3000501,30005,"Little Squaw, AK",101,1,67,"N",34,12,67.57000000,148,"W",11,2,-148.18388889,"",2007-08-01,,0,1,
1000601,10006,"06A","Kizhuyak Bay","Kizhuyak, AK",101,1,"United States","US","Alaska","AK","02",3000601,30006,"Kizhuyak, AK",101,1,57,"N",44,43,57.74527778,152,"W",52,58,-152.88277778,"",2007-10-01,,0,1,
1000701,10007,"07A","Klawock Seaplane Base","Klawock, AK",101,1,"United States","US","Alaska","AK","02",3000701,30007,"Klawock, AK",101,1,55,"N",33,17,55.55472222,133,"W",6,6,-133.10166667,"",2008-04-01,,0,1,
1000801,10008,"08A","Elizabeth Island Airport","Elizabeth Island, AK",101,1,"United States","US","Alaska","AK","02",3000801,30008,"Elizabeth Island, AK",101,1,59,"N",9,25,59.15694444,151,"W",49,45,-151.82916667,"",2008-06-01,,0,1,
1000901,10009,"09A","Augustin Island","Homer, AK",101,1,"United States","US","Alaska","AK","02",3000901,30009,"Homer, AK",101,1,59,"N",21,46,59.36277778,153,"W",25,50,-153.43055556,"",2008-06-01,,0,1,
1001001,10010,"1B1","Columbia County","Hudson, NY",2201,22,"United States","US","New York","NY","36",3001001,30010,"Hudson, NY",2201,22,42,"N",17,20,42.28888889,73,"W",42,37,-73.71027778,"-0500",2009-04-01,2011-06-30,0,0,

In [ ]:

  with beam.Pipeline('DirectRunner') as pipeline:
    airports = (pipeline  
                | beam.io.ReadFromText('/content/airports.csv') 
                | beam.Map(lambda line: next(csv.reader([line]))) 
                | beam.Map(lambda fields: (fields[0], (fields[21], fields[26])))
                | 'Print contents' >> beam.Map(print)
                 )

In [ ]:
(airports
         | beam.Map(lambda airport_data: '{},{}'.format(airport_data[0], ','.join(airport_data[1])))
         | beam.io.WriteToText('extracted_airports')
         | 'Print contents' >> beam.Map(print)
         )

In [ ]:
%%shell
head /content/gdrive/MyDrive/chapter2/extracted_airports-00000-of-00001

In [ ]:
%%shell
%cd /content/gdrive/MyDrive/chapter2/

/bin/bash: line 0: fg: no job control

CalledProcessError: ignored

In [ ]:

airportdf = pd.read_csv('airports.csv',low_memory=False)
q = "SELECT * FROM airportdf LIMIT 3"
sqldf(q, globals())

,AIRPORT_SEQ_ID,AIRPORT_ID,AIRPORT,DISPLAY_AIRPORT_NAME,DISPLAY_AIRPORT_CITY_NAME_FULL,AIRPORT_WAC_SEQ_ID2,AIRPORT_WAC,AIRPORT_COUNTRY_NAME,AIRPORT_COUNTRY_CODE_ISO,AIRPORT_STATE_NAME,...,LON_HEMISPHERE,LON_MINUTES,LON_SECONDS,LONGITUDE,UTC_LOCAL_TIME_VARIATION,AIRPORT_START_DATE,AIRPORT_THRU_DATE,AIRPORT_IS_CLOSED,AIRPORT_IS_LATEST,Unnamed: 32
0,1000101,10001,01A,Afognak Lake Airport,"Afognak Lake, AK",101,1,United States,US,Alaska,...,W,54.0,24.0,-152.906667,None,2007-07-01,None,0,1,None
1,1000301,10003,03A,Bear Creek Mining Strip,"Granite Mountain, AK",101,1,United States,US,Alaska,...,W,4.0,18.0,-161.071667,None,2007-07-01,None,0,1,None
2,1000401,10004,04A,Lik Mining Camp,"Lik, AK",101,1,United States,US,Alaska,...,W,10.0,0.0,-163.166667,None,2007-07-01,None,0,1,None

In [ ]:

#create map in python using dataframe

In [5]:

q = "SELECT  case  when DepDelay < 15 AND ArrDelay < 15 then count(1)  end 'true_positives', case  when DepDelay < 15 AND ArrDelay >= 15 then count(1)   end 'false_positives', case when DepDelay >= 15 AND ArrDelay < 15 then count(1) end 'false_negatives' , case  when DepDelay >= 15 AND ArrDelay >= 15 then count(1)  end 'true_negatives',  COUNT(*) AS total  FROM nyc WHERE ArrDelay IS NOT NULL AND DepDelay IS NOT NULL"
sqldf(q, globals())

   true_positives false_positives false_negatives true_negatives   total
0          457013            None            None           None  457013

In [6]:
from sqlalchemy import create_engine
my_conn=create_engine("sqlite:////content/drive/MyDrive/my_db/my_db.db")

In [7]:
r_set=my_conn.execute('''select name from sqlite_master 
		where type = 'table' ''')
for row in r_set:
    print(row)

OperationalError: ignored

In [8]:
%load_ext sql

In [10]:
%%sql
sqlite:///mydb_

'Connected: @mydb_'

In [24]:
%%sql

drop table if exists flights;

CREATE TABLE flights (
  "Year" TEXT,
  "Quarter" TEXT,
  "Month" TEXT,
  "DayofMonth" TEXT,
  "DayOfWeek" TEXT,
  "FlightDate" TEXT,
  "Reporting_Airline" TEXT,
  "DOT_ID_Reporting_Airline" TEXT,
  "IATA_CODE_Reporting_Airline" TEXT,
  "Tail_Number" TEXT,
  "Flight_Number_Reporting_Airline" TEXT,
  "OriginAirportID" TEXT,
  "OriginAirportSeqID" TEXT,
  "OriginCityMarketID" TEXT,
  "Origin" TEXT,
  "OriginCityName" TEXT,
  "OriginState" TEXT,
  "OriginStateFips" TEXT,
  "OriginStateName" TEXT,
  "OriginWac" TEXT,
  "DestAirportID" TEXT,
  "DestAirportSeqID" TEXT,
  "DestCityMarketID" TEXT,
  "Dest" TEXT,
  "DestCityName" TEXT,
  "DestState" TEXT,
  "DestStateFips" TEXT,
  "DestStateName" TEXT,
  "DestWac" TEXT,
  "CRSDepTime" TEXT,
  "DepTime" TEXT,
  "DepDelay" TEXT,
  "DepDelayMinutes" TEXT,
  "DepDel15" TEXT,
  "DepartureDelayGroups" TEXT,
  "DepTimeBlk" TEXT,
  "TaxiOut" TEXT,
  "WheelsOff" TEXT,
  "WheelsOn" TEXT,
  "TaxiIn" TEXT,
  "CRSArrTime" TEXT,
  "ArrTime" TEXT,
  "ArrDelay" TEXT,
  "ArrDelayMinutes" TEXT,
  "ArrDel15" TEXT,
  "ArrivalDelayGroups" TEXT,
  "ArrTimeBlk" TEXT,
  "Cancelled" TEXT,
  "CancellationCode" TEXT,
  "Diverted" TEXT,
  "CRSElapsedTime" TEXT,
  "ActualElapsedTime" TEXT,
  "AirTime" TEXT,
  "Flights" TEXT,
  "Distance" TEXT,
  "DistanceGroup" TEXT,
  "CarrierDelay" TEXT,
  "WeatherDelay" TEXT,
  "NASDelay" TEXT,
  "SecurityDelay" TEXT,
  "LateAircraftDelay" TEXT,
  "FirstDepTime" TEXT,
  "TotalAddGTime" TEXT,
  "LongestAddGTime" TEXT,
  "DivAirportLandings" TEXT,
  "DivReachedDest" TEXT,
  "DivActualElapsedTime" TEXT,
  "DivArrDelay" TEXT,
  "DivDistance" TEXT,
  "Div1Airport" TEXT,
  "Div1AirportID" TEXT,
  "Div1AirportSeqID" TEXT,
  "Div1WheelsOn" TEXT,
  "Div1TotalGTime" TEXT,
  "Div1LongestGTime" TEXT,
  "Div1WheelsOff" TEXT,
  "Div1TailNum" TEXT,
  "Div2Airport" TEXT,
  "Div2AirportID" TEXT,
  "Div2AirportSeqID" TEXT,
  "Div2WheelsOn" TEXT,
  "Div2TotalGTime" TEXT,
  "Div2LongestGTime" TEXT,
  "Div2WheelsOff" TEXT,
  "Div2TailNum" TEXT,
  "Div3Airport" TEXT,
  "Div3AirportID" TEXT,
  "Div3AirportSeqID" TEXT,
  "Div3WheelsOn" TEXT,
  "Div3TotalGTime" TEXT,
  "Div3LongestGTime" TEXT,
  "Div3WheelsOff" TEXT,
  "Div3TailNum" TEXT,
  "Div4Airport" TEXT,
  "Div4AirportID" TEXT,
  "Div4AirportSeqID" TEXT,
  "Div4WheelsOn" TEXT,
  "Div4TotalGTime" TEXT,
  "Div4LongestGTime" TEXT,
  "Div4WheelsOff" TEXT,
  "Div4TailNum" TEXT,
  "Div5Airport" TEXT,
  "Div5AirportID" TEXT,
  "Div5AirportSeqID" TEXT,
  "Div5WheelsOn" TEXT,
  "Div5TotalGTime" TEXT,
  "Div5LongestGTime" TEXT,
  "Div5WheelsOff" TEXT,
  "Div5TailNum" TEXT,
  "junk" TEXT
);

 * sqlite:///mydb_
   sqlite:///test.db
Done.
Done.

[]

In [25]:
%%sql
CREATE OR REPLACE VIEW dsongcp.flights
-- CREATE MATERIALIZED VIEW dsongcp.flights
-- PARTITION BY DATE_TRUNC(FL_DATE, MONTH)
AS
SELECT
  FlightDate AS FL_DATE,
  Reporting_Airline AS UNIQUE_CARRIER,
  OriginAirportSeqID AS ORIGIN_AIRPORT_SEQ_ID,
  Origin AS ORIGIN,
  DestAirportSeqID AS DEST_AIRPORT_SEQ_ID,
  Dest AS DEST,
  CRSDepTime AS CRS_DEP_TIME,
  DepTime AS DEP_TIME,
  CAST(DepDelay AS FLOAT64) AS DEP_DELAY,
  CAST(TaxiOut AS FLOAT64) AS TAXI_OUT,
  WheelsOff AS WHEELS_OFF,
  WheelsOn AS WHEELS_ON,
  CAST(TaxiIn AS FLOAT64) AS TAXI_IN,
  CRSArrTime AS CRS_ARR_TIME,
  ArrTime AS ARR_TIME,
  CAST(ArrDelay AS FLOAT64) AS ARR_DELAY,
  IF(Cancelled = '1.00', True, False) AS CANCELLED,
  IF(Diverted = '1.00', True, False) AS DIVERTED,
  DISTANCE
FROM dsongcp.flights_raw;

CREATE OR REPLACE VIEW dsongcp.delayed_10 AS
SELECT * FROM dsongcp.flights WHERE dep_delay >= 10;

CREATE OR REPLACE VIEW dsongcp.delayed_15 AS
SELECT * FROM dsongcp.flights WHERE dep_delay >= 15;

CREATE OR REPLACE VIEW dsongcp.delayed_20 AS
SELECT * FROM dsongcp.flights WHERE dep_delay >= 20;

 * sqlite:///mydb_
   sqlite:///test.db
(sqlite3.OperationalError) near "OR": syntax error
[SQL: CREATE OR REPLACE VIEW dsongcp.flights
-- CREATE MATERIALIZED VIEW dsongcp.flights
-- PARTITION BY DATE_TRUNC(FL_DATE, MONTH)
AS
SELECT
  FlightDate AS FL_DATE,
  Reporting_Airline AS UNIQUE_CARRIER,
  OriginAirportSeqID AS ORIGIN_AIRPORT_SEQ_ID,
  Origin AS ORIGIN,
  DestAirportSeqID AS DEST_AIRPORT_SEQ_ID,
  Dest AS DEST,
  CRSDepTime AS CRS_DEP_TIME,
  DepTime AS DEP_TIME,
  CAST(DepDelay AS FLOAT64) AS DEP_DELAY,
  CAST(TaxiOut AS FLOAT64) AS TAXI_OUT,
  WheelsOff AS WHEELS_OFF,
  WheelsOn AS WHEELS_ON,
  CAST(TaxiIn AS FLOAT64) AS TAXI_IN,
  CRSArrTime AS CRS_ARR_TIME,
  ArrTime AS ARR_TIME,
  CAST(ArrDelay AS FLOAT64) AS ARR_DELAY,
  IF(Cancelled = '1.00', True, False) AS CANCELLED,
  IF(Diverted = '1.00', True, False) AS DIVERTED,
  DISTANCE
FROM dsongcp.flights_raw;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [26]:
%%sql
insert into flights
select * from nyc

 * sqlite:///mydb_
   sqlite:///test.db
(sqlite3.OperationalError) no such table: nyc
[SQL: insert into flights
select * from nyc]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [29]:
import sqlite3
conn = sqlite3.connect('mydb_')
c = conn.cursor()
nyc.to_sql('flights', conn, if_exists='replace', index = False)