<a href="https://colab.research.google.com/github/prakharsrivastava/powerbi/blob/main/Data_Science_on_Google_Cloud_Platform_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive

drive.mount('/content/gdrive')
%cd /content/gdrive/MyDrive/chapter2/

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
/content/gdrive/MyDrive/chapter2

In [3]:
!pip install findspark 
!pip install  pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: findspark in /usr/local/lib/python3.8/dist-packages (2.0.1)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.8/dist-packages (3.3.2)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.8/dist-packages (from pyspark) (0.10.9.5)

In [4]:
import findspark
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[1]").appName("architectinaction.com").getOrCreate()

In [5]:
%load_ext sql

In [6]:
%%sql
sqlite:///mydb_

'Connected: @mydb_'

In [9]:
import pandas as pd
df = pd.read_json('flights_sample.json',lines=True)

import sqlite3
conn = sqlite3.connect('mydb_')
c = conn.cursor()
df.to_sql('flights_view_', conn, if_exists='replace', index = False)

In [10]:
%%sql
SELECT
  *
FROM flights_view_

 * sqlite:///mydb_
Done.

[('2015-04-28', 'EV', 1000101, 'ABE', 1000101, 'ATL', 1600, 1555, -5, 7, 1602, 1747, 4, 1809, 1751, -18, 0, 0, 692),
 ('2015-11-05', 'DL', 1000101, 'ABE', 1000101, 'ATL', 600, 556, -4, 12, 608, 749, 10, 818, 759, -19, 0, 0, 692)]

UsageError: Cell magic `%%sql` not found.