<a href="https://colab.research.google.com/github/prakharsrivastava/powerbi/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive

drive.mount('/content/gdrive')
%cd /content/gdrive/MyDrive/chapter2/

Mounted at /content/gdrive
/content/gdrive/MyDrive/chapter2

In [2]:
!pip install findspark 
!pip install  pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.2.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 16.8 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824025 sha256=c7a9546aae5c6d8ff039da37118000ab39c1f6ab4bd7c2ebf9ed3ebf663be41c
  Stored in directory: /root/.cache/pip/wheels/b1/59/a0/a1a0624b5e865fd389919c1a10f53aec9b12195d6747710baf
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.2

In [4]:
import pandas as pd
technologies = {
    'Courses':["Spark","PySpark","Hadoop","Python","pandas"],
    'Fee' :[20000,25000,26000,22000,24000],
    'Duration':['30day','40days','35days','40days','60days'],
    'Discount':[1000,2300,1200,2500,2000]
              }
technologies

{'Courses': ['Spark', 'PySpark', 'Hadoop', 'Python', 'pandas'],
 'Fee': [20000, 25000, 26000, 22000, 24000],
 'Duration': ['30day', '40days', '35days', '40days', '60days'],
 'Discount': [1000, 2300, 1200, 2500, 2000]}

In [5]:
index_labels=['r1','r2','r3','r4','r5']
df = pd.DataFrame(technologies,index=index_labels)
print(df)

    Courses    Fee Duration  Discount
r1    Spark  20000    30day      1000
r2  PySpark  25000   40days      2300
r3   Hadoop  26000   35days      1200
r4   Python  22000   40days      2500
r5   pandas  24000   60days      2000

In [7]:
print(df.loc['r2'])

Courses     PySpark
Fee           25000
Duration     40days
Discount       2300
Name: r2, dtype: object

In [8]:

# Select Single Row by Index
print(df.iloc[1])

Courses     PySpark
Fee           25000
Duration     40days
Discount       2300
Name: r2, dtype: object

In [9]:
print(df.loc[:, "Courses"])

r1      Spark
r2    PySpark
r3     Hadoop
r4     Python
r5     pandas
Name: Courses, dtype: object

In [10]:

# Select Single Column by Index
print(df.iloc[:, 0])

r1      Spark
r2    PySpark
r3     Hadoop
r4     Python
r5     pandas
Name: Courses, dtype: object

In [15]:

# Select Single Column by Index
print(df.loc[['r1','r4']])

   Courses    Fee Duration  Discount
r1   Spark  20000    30day      1000
r4  Python  22000   40days      2500